<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Register Page</title>
	</head>
	<body>
		<h1>Register Page</h1>
		<form id="form">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" />
			
			<label for="uname">User Name</label>
			<input type="text" name="uname" id="uname" />

			<label for="email">Email</label>
			<input type="email" name="email" id="email" autocomplete="off"/>
			
			<label for="pass">Password</label>
			<input type="password" name="pass" id="pass" autocomplete="off"/>
			
			<label for="pass2">Confirm Password</label>
			<input type="password" name="pass2" id="pass2" autocomplete="off"/>
			
			<button type="submit" id="submit-btn" >Go</button>
		</form>
		
		<script src="../js/register.js"></script>
	</body>
		
</html>